.wmapp-progress-circle {
    .wmapp-progress-circle-wrapper {
        width: 20vw;
        height: 20vw;
        max-width: 100px;
        max-height: 100px;
        position: relative;
        border: 2px solid $white;
        display: inline-block;
        color: $white;
        text-align: center;
        font-size: 0.75rem;
        @include border-radius(50%);

        img {
            display: block;
            position: absolute;
            left: 25%;
            top: 25%;
            width: 50%;
            height: 50%;
        }

        svg {
            width: "calc(100% + 0.25rem) !important";
            position: absolute;
            left: -0.125rem;
            top: -0.125rem;
        }
        svg:first-child {
            position: relative;
        }
    }
}