//REFACTOR We got two different ways to style this on native and web


//BY FELICA
// .wmapp-spinner {
//     opacity: 0;
//     position: fixed;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     background-color: fade($black, 30%);
//     z-index: map-get($zindex, overlay );
//     transition-duration: 100ms;
//     -webkit-transition-duration: 100ms;
//     transform: translate3d(0,0,0);
//     -webkit-transform: translate3d(0,0,0);

//     > div {
//         position: fixed;
//         left: 0;
//         top: 0;
//         height: 100%;
//         width: 100%;
//         background-color: fade($black, 30%);
//         // z-index: 99;
//         z-index: map-get($zindex, modal );
//         transition-duration: 100ms;
//         -webkit-transition-duration: 100ms;
//         transform: translate3d(0,0,0);
//         -webkit-transform: translate3d(0,0,0);
//         opacity: 1;
//         background: url("/img/spinner.png") no-repeat center;
//         background-size: 5rem;
//         -webkit-animation: rotating 1s linear infinite;
//         animation: rotating 1s linear infinite;
//     }
// }



// Mobile Spinner 
.wmapp-spinner {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    z-index: map-get($zindex, modal );
	background: fade($black, 70%);
	display: block;
	opacity: 0;
	@include transform;
	-webkit-transition-delay: $animation-duration-quick;
	transition-delay: $animation-duration-quick;
	&:after {
		content: ' ';
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../img/spinner.svg) no-repeat center center;
		-webkit-animation: rotating 1s linear infinite;
		animation: rotating 1s linear infinite;
	}

	&.showing-progress:after {
		top: 3rem;
		height: 3rem;
	}
}